<div ng-show="attrs.id">
    <div>
    <md-input-container>
        <label>Quantity</label>
        <md-select aria-label="quantity" name="quantity" id="quantity" ng-model="q">
          <md-optgroup>
            <md-option ng-value="v" ng-repeat="v in qtyOpt">{{v}}</md-option>
          </md-optgroup>
        </md-select>
    </md-input-container>
        <md-button class="md-raised md-primary" aria-label="add to cart" ng-click="ngCart.addItem(id, name, price, q, data)"><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-2x"></i> Add To Cart</md-button>
    </div>
    <span ng-show="inCart()">
        <md-button class="md-raised md-warn" aria-label="remove" ng-click="ngCart.removeItemById(id)"><i class="zmdi zmdi-shopping-cart zmdi-hc-2x"></i> Remove this item</md-button>
    </span>
</div>
