<table>
  <tr>
    <th>Hotels</th>
    <th>Location</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr ng-repeat="hotels in vm.allCartItems.hotel">
    <td>{{hotels.name}}</td>
    <td>{{hotels.location.name}}</td>
    <td>
    <md-datepicker ng-model="hotels.checkInDate" md-placeholder="Enter date" md-min-date="vm.travelInfo.checkin" md-max-date="vm.travelInfo.checkout" md-open-on-focus ng-blur="vm.hotelDate(hotels)"></md-datepicker>
    <div ng-messages="hotels.hotelCheckInError" role="alert" multiple>
                <div ng-message="low">
                    <span translate="">You can't check in to a place after the date of checking out from there.</span>
                </div>
            </div>
    </td>
    <td>
    <md-datepicker ng-model="hotels.checkOutDate" md-placeholder="Enter date" md-min-date="vm.travelInfo.checkin" md-max-date="vm.travelInfo.checkout" md-open-on-focus ng-blur="vm.hotelDate(hotels)"></md-datepicker>
    <div ng-messages="hotels.hotelCheckOutError" role="alert" multiple>
                <div ng-message="low">
                    <span translate="">You can't check in to a place after the date of checking out from there.</span>
                </div>
            </div>
    </td>
    <td>{{hotels.price}}</td>
    <td> 
      <md-button class="md-fab md-mini md-primary" aria-label="remove item" ng-click="ngCart.removeItemById(hotels.id.toString());">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </td>
  </tr>
</table>